<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %5p [%c] %m%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="egovframework.guide.helloworld" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="org.egovframe.rte" level="DEBUG" additivity="false">
			<AppenderRef ref="console" />
		</Logger>
	    <logger name="org.springframework" level="INFO" additivity="false">
	        <appender-ref ref="console" />
	    </logger>
        <Root level="ERROR">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>
